@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="loginBox">
        <br />
        <input type="button" value="Start Shift" id="shiftButton" />
        <input type="button" value="End Shift" hidden /> <!-- Might Take this out and just have the STARTSHIFT button change.-->

        <input type="button" value="Break" id="breakButton" /> <!--Button for Employee to press to take break-->
    </div>
</div>