@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="loginBox">
        <form>
            <br />
            Employee Number:
            <br /><input type="text" placeholder="Employee #" />
            <br /><br />

            Password:
            <br /><input type="password" placeholder="Password" />

            <br /><br />
            <input type="submit" value="Login" />
        </form>
    </div>
</div>