@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="loginBox">
        <form>
            Employee Number:
            <input type="text" placeholder="Employee #" />
            Password:
            <input type="password" placeholder="Password" />
            <input type="submit" value="Login" />
        </form>
    </div>
</div>