@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="loginBox">
        
        <select id="daySelect">
            <!-- Let top Admin set which day scheduling starts on. -->
            <option value="Sunday">Sunday</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
        </select><br />

        <table id="scheduleTable" class="table">
            <!-- Let top Admin set which day scheduling starts on. -->
            <thead>
                <tr>Sunday</tr>
                <tr>Monday</tr>
                <tr>Tuesday</tr>
                <tr>Wednesday</tr>
                <tr>Thursday</tr>
                <tr>Friday</tr>
                <tr>Saturday</tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>